<%- include('./header.ejs') %>
<h2 class="titulo-2">Listado de películas</h2>
<ul class="pelis">
    <% for (let i = 0; i < peliculas.length; i++) { %>
        <li>
            <a href="/detalle/<%=peliculas[i].id%>">
            <%=peliculas[i].title %>
            </a>
        </li>
    <% } %>
</ul>
<%- include('./footer') %>